
/*背景图片*/
.body {
    background: url("../image/bg.jpg") repeat;
}
/*内容区域*/
.main {
    margin: 35px 70px;
    background-color: #f8f8f8;
}

/*发布按钮*/
.btn-publish {
    margin-bottom: 15px;
    float: right;
}
/*图片大小*/
.img-size-g{
    width: 70px;
    height: 70px;
}

.text-color-999 {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}
.profile .section {
    margin-top: 15px;
}

.community-menu {
    color: #999;
}
.jumbotron {
    margin: 60px 0 0 200px;

    background-color: #ffffff;
}